body{
    display: flex;
    flex-direction: column;
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
    margin-bottom: 100px;
}
.infobar{
    height: 100px;
}
.boardrow{
    display: flex;
    display: flex;
    justify-content: center;
}
.box{
    width: 50px;
    height: 50px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 50px;
    border: 2px solid black;
}
.correct{
    background-color: green;
    color: white;
}
.wrong{
    background-color: red;
    color: white;
}
.guess{
    background-color: orange;
    color: white;
}